In [124]:
import fbprophet as fb
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from datetime import datetime

%matplotlib inline

In [125]:
df = pd.read_csv('/Users/dennis/git/Data/pump_data_2020.csv', sep=';', low_memory=False , decimal=',')

In [126]:
df.head()

,Date,03:I3SROE,03:T3362,03:PI3061A,03:PI3061B,03:PI3061C,03:PD3066,03:T3492,03:T3358,03:TC3550,...,03:E3851,03:T3632,03:T3633,03:T3634,03:FC3195,03:FV3195,03:FC3197,03:FV3197,03:FC3199,03:FV3199
0,,,,,,,,,,,...,,,,,,,,,,
1,01.01.2020 00:00:00,780.512,81.377,3.404,3.408,3.401,0.299,41.446,134.946,125.628,...,27.521,36.051,36.309,22.818,320.155,106.889,297.566,106.889,325.71,106.889
2,01.01.2020 00:10:00,780.051,81.377,3.401,3.402,3.4,0.298,41.676,135.032,125.583,...,27.212,36.092,36.348,22.865,320.718,106.889,297.288,106.889,325.425,106.889
3,01.01.2020 00:20:00,779.416,81.329,3.397,3.403,3.399,0.3,41.762,134.732,125.6,...,27.832,35.906,36.276,22.869,320.184,106.889,297.656,106.889,325.233,106.889
4,01.01.2020 00:30:00,780.344,81.25,3.398,3.404,3.398,0.3,41.909,134.521,125.612,...,27.571,35.977,36.262,22.878,319.879,106.889,297.386,106.889,326.211,106.889

In [127]:
df = df.replace(to_replace='N_LAUF', value='0')
df = df.replace(to_replace='LAUF', value='1')
df = df.replace(to_replace='No Data', value='-1001')
df = df.replace(to_replace='Over Range', value='-1002')
df = df.replace(to_replace='I/O Timeout', value='-1003')
df = df.replace(to_replace='Calc Failed', value='-1004')
df = df.replace(to_replace='Error', value='-1005')
df = df.replace(to_replace='Configure', value='-1006')
df = df.replace(to_replace='Scan Off', value='-1007')
df = df.replace(to_replace='Comm Fail', value='-1008')
df = df.replace(to_replace='Shutdown', value='-1009')
df = df.replace(to_replace='NaN', value='-1010')
df = df.replace(to_replace='Bad Input', value='-1011')
df = df.replace(to_replace='Bad', value='-1012')

In [128]:
df.head()

,Date,03:I3SROE,03:T3362,03:PI3061A,03:PI3061B,03:PI3061C,03:PD3066,03:T3492,03:T3358,03:TC3550,...,03:E3851,03:T3632,03:T3633,03:T3634,03:FC3195,03:FV3195,03:FC3197,03:FV3197,03:FC3199,03:FV3199
0,,,,,,,,,,,...,,,,,,,,,,
1,01.01.2020 00:00:00,780.512,81.377,3.404,3.408,3.401,0.299,41.446,134.946,125.628,...,27.521,36.051,36.309,22.818,320.155,106.889,297.566,106.889,325.71,106.889
2,01.01.2020 00:10:00,780.051,81.377,3.401,3.402,3.4,0.298,41.676,135.032,125.583,...,27.212,36.092,36.348,22.865,320.718,106.889,297.288,106.889,325.425,106.889
3,01.01.2020 00:20:00,779.416,81.329,3.397,3.403,3.399,0.3,41.762,134.732,125.6,...,27.832,35.906,36.276,22.869,320.184,106.889,297.656,106.889,325.233,106.889
4,01.01.2020 00:30:00,780.344,81.25,3.398,3.404,3.398,0.3,41.909,134.521,125.612,...,27.571,35.977,36.262,22.878,319.879,106.889,297.386,106.889,326.211,106.889

In [129]:
df = df.drop(['03:FV3195'], axis = 1)
df = df.drop(['03:FV3197'], axis = 1)
df = df.drop(['03:FV3199'], axis = 1)

In [130]:
df.shape

(40322, 51)

In [131]:
df = df[:].replace(',','.', regex=True)

In [132]:
df.head()

,Date,03:I3SROE,03:T3362,03:PI3061A,03:PI3061B,03:PI3061C,03:PD3066,03:T3492,03:T3358,03:TC3550,...,03:T3631,03:N3723_1,03:N3727_1,03:E3851,03:T3632,03:T3633,03:T3634,03:FC3195,03:FC3197,03:FC3199
0,,,,,,,,,,,...,,,,,,,,,,
1,01.01.2020 00:00:00,780.512,81.377,3.404,3.408,3.401,0.299,41.446,134.946,125.628,...,20.395,1,1,27.521,36.051,36.309,22.818,320.155,297.566,325.71
2,01.01.2020 00:10:00,780.051,81.377,3.401,3.402,3.4,0.298,41.676,135.032,125.583,...,20.39,1,1,27.212,36.092,36.348,22.865,320.718,297.288,325.425
3,01.01.2020 00:20:00,779.416,81.329,3.397,3.403,3.399,0.3,41.762,134.732,125.6,...,20.39,1,1,27.832,35.906,36.276,22.869,320.184,297.656,325.233
4,01.01.2020 00:30:00,780.344,81.25,3.398,3.404,3.398,0.3,41.909,134.521,125.612,...,20.451,1,1,27.571,35.977,36.262,22.878,319.879,297.386,326.211

In [133]:
for column in df.iloc[:,1:]:
    df[column] = pd.to_numeric(df[column], errors='coerce')

In [134]:
df['Durchsatz'] = df['03:FC3195'] + df['03:FC3197'] + df['03:FC3199']
df['Durchsatz']

0             NaN
1         943.431
2         943.431
3         943.073
4         943.476
           ...
40317    1038.923
40318    1038.415
40319    1038.749
40320    1040.391
40321    1038.243
Name: Durchsatz, Length: 40322, dtype: float64

In [135]:
df = df.iloc[1:]

In [136]:
df.head()

,Date,03:I3SROE,03:T3362,03:PI3061A,03:PI3061B,03:PI3061C,03:PD3066,03:T3492,03:T3358,03:TC3550,...,03:N3723_1,03:N3727_1,03:E3851,03:T3632,03:T3633,03:T3634,03:FC3195,03:FC3197,03:FC3199,Durchsatz
1,01.01.2020 00:00:00,780.512,81.377,3.404,3.408,3.401,0.299,41.446,134.946,125.628,...,1.0,1.0,27.521,36.051,36.309,22.818,320.155,297.566,325.710,943.431
2,01.01.2020 00:10:00,780.051,81.377,3.401,3.402,3.400,0.298,41.676,135.032,125.583,...,1.0,1.0,27.212,36.092,36.348,22.865,320.718,297.288,325.425,943.431
3,01.01.2020 00:20:00,779.416,81.329,3.397,3.403,3.399,0.300,41.762,134.732,125.600,...,1.0,1.0,27.832,35.906,36.276,22.869,320.184,297.656,325.233,943.073
4,01.01.2020 00:30:00,780.344,81.250,3.398,3.404,3.398,0.300,41.909,134.521,125.612,...,1.0,1.0,27.571,35.977,36.262,22.878,319.879,297.386,326.211,943.476
5,01.01.2020 00:40:00,780.231,81.377,3.403,3.405,3.399,0.298,41.983,134.352,125.703,...,1.0,1.0,27.194,36.000,36.246,22.850,320.310,297.659,325.206,943.175

In [137]:
df.shape

(40321, 52)

In [138]:
df = df.rename(columns={"Date":"ds"})

In [140]:
df = df.rename(columns={"Durchsatz":"y"})

In [141]:
df

,ds,03:I3SROE,03:T3362,03:PI3061A,03:PI3061B,03:PI3061C,03:PD3066,03:T3492,03:T3358,03:TC3550,...,03:N3723_1,03:N3727_1,03:E3851,03:T3632,03:T3633,03:T3634,03:FC3195,03:FC3197,03:FC3199,y
1,01.01.2020 00:00:00,780.512,81.377,3.404,3.408,3.401,0.299,41.446,134.946,125.628,...,1.0,1.0,27.521,36.051,36.309,22.818,320.155,297.566,325.710,943.431
2,01.01.2020 00:10:00,780.051,81.377,3.401,3.402,3.400,0.298,41.676,135.032,125.583,...,1.0,1.0,27.212,36.092,36.348,22.865,320.718,297.288,325.425,943.431
3,01.01.2020 00:20:00,779.416,81.329,3.397,3.403,3.399,0.300,41.762,134.732,125.600,...,1.0,1.0,27.832,35.906,36.276,22.869,320.184,297.656,325.233,943.073
4,01.01.2020 00:30:00,780.344,81.250,3.398,3.404,3.398,0.300,41.909,134.521,125.612,...,1.0,1.0,27.571,35.977,36.262,22.878,319.879,297.386,326.211,943.476
5,01.01.2020 00:40:00,780.231,81.377,3.403,3.405,3.399,0.298,41.983,134.352,125.703,...,1.0,1.0,27.194,36.000,36.246,22.850,320.310,297.659,325.206,943.175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40317,06.10.2020 23:20:00,862.729,82.650,3.382,3.384,3.379,0.297,37.993,130.607,124.263,...,1.0,1.0,27.722,44.702,45.030,30.674,356.883,324.601,357.439,1038.923
40318,06.10.2020 23:30:00,862.359,82.583,3.385,3.388,3.380,0.296,37.974,130.908,124.410,...,1.0,1.0,27.573,44.572,44.879,30.450,356.612,323.828,357.975,1038.415
40319,06.10.2020 23:40:00,862.264,82.583,3.386,3.390,3.382,0.296,37.974,131.421,124.375,...,1.0,1.0,27.246,44.540,44.856,30.450,356.969,324.706,357.074,1038.749
40320,06.10.2020 23:50:00,863.231,82.583,3.386,3.390,3.384,0.297,37.974,131.198,124.337,...,1.0,1.0,27.462,44.428,44.704,30.433,357.241,324.673,358.477,1040.391
40321,07.10.2020 00:00:00,863.205,82.583,3.383,3.387,3.382,0.296,37.949,130.760,124.315,...,1.0,1.0,27.600,44.302,44.628,30.265,356.453,324.312,357.478,1038.243

In [142]:
df['ds'] = pd.to_datetime(df['ds'], format = "%d.%m.%Y %H:%M:%S")

In [143]:
df

,ds,03:I3SROE,03:T3362,03:PI3061A,03:PI3061B,03:PI3061C,03:PD3066,03:T3492,03:T3358,03:TC3550,...,03:N3723_1,03:N3727_1,03:E3851,03:T3632,03:T3633,03:T3634,03:FC3195,03:FC3197,03:FC3199,y
1,2020-01-01 00:00:00,780.512,81.377,3.404,3.408,3.401,0.299,41.446,134.946,125.628,...,1.0,1.0,27.521,36.051,36.309,22.818,320.155,297.566,325.710,943.431
2,2020-01-01 00:10:00,780.051,81.377,3.401,3.402,3.400,0.298,41.676,135.032,125.583,...,1.0,1.0,27.212,36.092,36.348,22.865,320.718,297.288,325.425,943.431
3,2020-01-01 00:20:00,779.416,81.329,3.397,3.403,3.399,0.300,41.762,134.732,125.600,...,1.0,1.0,27.832,35.906,36.276,22.869,320.184,297.656,325.233,943.073
4,2020-01-01 00:30:00,780.344,81.250,3.398,3.404,3.398,0.300,41.909,134.521,125.612,...,1.0,1.0,27.571,35.977,36.262,22.878,319.879,297.386,326.211,943.476
5,2020-01-01 00:40:00,780.231,81.377,3.403,3.405,3.399,0.298,41.983,134.352,125.703,...,1.0,1.0,27.194,36.000,36.246,22.850,320.310,297.659,325.206,943.175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40317,2020-10-06 23:20:00,862.729,82.650,3.382,3.384,3.379,0.297,37.993,130.607,124.263,...,1.0,1.0,27.722,44.702,45.030,30.674,356.883,324.601,357.439,1038.923
40318,2020-10-06 23:30:00,862.359,82.583,3.385,3.388,3.380,0.296,37.974,130.908,124.410,...,1.0,1.0,27.573,44.572,44.879,30.450,356.612,323.828,357.975,1038.415
40319,2020-10-06 23:40:00,862.264,82.583,3.386,3.390,3.382,0.296,37.974,131.421,124.375,...,1.0,1.0,27.246,44.540,44.856,30.450,356.969,324.706,357.074,1038.749
40320,2020-10-06 23:50:00,863.231,82.583,3.386,3.390,3.384,0.297,37.974,131.198,124.337,...,1.0,1.0,27.462,44.428,44.704,30.433,357.241,324.673,358.477,1040.391
40321,2020-10-07 00:00:00,863.205,82.583,3.383,3.387,3.382,0.296,37.949,130.760,124.315,...,1.0,1.0,27.600,44.302,44.628,30.265,356.453,324.312,357.478,1038.243

In [144]:
df.to_csv('/Users/dennis/git/Data/cleaned_2020.csv', index=False)

In [145]:
data = pd.read_csv('/Users/dennis/git/Data/cleaned_2020.csv')

In [148]:
data

,ds,03:I3SROE,03:T3362,03:PI3061A,03:PI3061B,03:PI3061C,03:PD3066,03:T3492,03:T3358,03:TC3550,...,03:N3723_1,03:N3727_1,03:E3851,03:T3632,03:T3633,03:T3634,03:FC3195,03:FC3197,03:FC3199,y
0,2020-01-01 00:00:00,780.512,81.377,3.404,3.408,3.401,0.299,41.446,134.946,125.628,...,1.0,1.0,27.521,36.051,36.309,22.818,320.155,297.566,325.710,943.431
1,2020-01-01 00:10:00,780.051,81.377,3.401,3.402,3.400,0.298,41.676,135.032,125.583,...,1.0,1.0,27.212,36.092,36.348,22.865,320.718,297.288,325.425,943.431
2,2020-01-01 00:20:00,779.416,81.329,3.397,3.403,3.399,0.300,41.762,134.732,125.600,...,1.0,1.0,27.832,35.906,36.276,22.869,320.184,297.656,325.233,943.073
3,2020-01-01 00:30:00,780.344,81.250,3.398,3.404,3.398,0.300,41.909,134.521,125.612,...,1.0,1.0,27.571,35.977,36.262,22.878,319.879,297.386,326.211,943.476
4,2020-01-01 00:40:00,780.231,81.377,3.403,3.405,3.399,0.298,41.983,134.352,125.703,...,1.0,1.0,27.194,36.000,36.246,22.850,320.310,297.659,325.206,943.175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40316,2020-10-06 23:20:00,862.729,82.650,3.382,3.384,3.379,0.297,37.993,130.607,124.263,...,1.0,1.0,27.722,44.702,45.030,30.674,356.883,324.601,357.439,1038.923
40317,2020-10-06 23:30:00,862.359,82.583,3.385,3.388,3.380,0.296,37.974,130.908,124.410,...,1.0,1.0,27.573,44.572,44.879,30.450,356.612,323.828,357.975,1038.415
40318,2020-10-06 23:40:00,862.264,82.583,3.386,3.390,3.382,0.296,37.974,131.421,124.375,...,1.0,1.0,27.246,44.540,44.856,30.450,356.969,324.706,357.074,1038.749
40319,2020-10-06 23:50:00,863.231,82.583,3.386,3.390,3.384,0.297,37.974,131.198,124.337,...,1.0,1.0,27.462,44.428,44.704,30.433,357.241,324.673,358.477,1040.391
40320,2020-10-07 00:00:00,863.205,82.583,3.383,3.387,3.382,0.296,37.949,130.760,124.315,...,1.0,1.0,27.600,44.302,44.628,30.265,356.453,324.312,357.478,1038.243